.contact {
	&__row {
		display: flex;
		flex-wrap: wrap;
	}

	&__map {
		flex: 1 1 42rem;
		width: 100%;
	}

	&__form {
		flex: 1 1 42rem;
		padding: 2rem;
		text-align: center;
		background: #222;

		& textarea {
			height: 15rem;
			resize: none;
		}
	}

	&__title {
		font-size: 3rem;
		padding-bottom: 1rem;
		color: var(--main-color);
	}

	&__box {
		width: 100%;
		padding: 1rem 1.2rem;
		background: var(--black);
		color: #fff;
		font-size: 1.6rem;
		text-transform: none;
		margin: 0.7rem 0;
	}
}
