.heading {
	font-size: 4rem;
	text-align: center;
	padding-bottom: 2rem;
	color: #fff;
}

.heading span {
	color: var(--main-color);
}

.btn {
	margin-top: 1rem;
	display: inline-block;
	padding: 0.8rem 3rem;
	font-size: 1.7rem;
	background: #fff;
	font-weight: 500;
	color: var(--black);
	cursor: pointer;
}

.btn:hover {
	background: var(--main-color);
	color: #fff;
	letter-spacing: 0.1rem;
}
